In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import fft, signal, stats
import os

In [2]:
path1='/Users/amrmoursi/Desktop/gears/Data/BrokenTooth'
path2='//Users/amrmoursi/Desktop/gears/Data/Healthy'

In [3]:
blist = []
hlist = []

In [4]:
# broken
for file in os.listdir(path1):
    blist.append(os.path.join(path1, file))
blist.sort()
blist

['/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz0.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz10.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz20.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz30.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz40.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz50.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz60.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz70.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz80.csv',
 '/Users/amrmoursi/Desktop/gears/Data/BrokenTooth/b30hz90.csv']

In [5]:
# Healthy
for file in os.listdir(path2):
    hlist.append(os.path.join(path2, file))
hlist.sort()
hlist

['//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz0.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz10.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz20.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz30.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz40.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz50.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz60.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz70.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz80.csv',
 '//Users/amrmoursi/Desktop/gears/Data/Healthy/h30hz90.csv']

In [6]:
## dynamic lable
# healthy
for x in range(0,10):
    globals()[f"h30hz{x}0"] = pd.read_csv(hlist[x])
h30hz10

             a1        a2        a3        a4
0     -0.169381 -1.282080  3.302820 -1.556990
1      3.945820 -0.220907 -0.003485 -0.174652
2      0.888728  0.694251 -0.035491 -0.470260
3     -2.332820 -1.578870  1.306010 -1.295540
4      1.755510  2.084890  0.348722  0.502751
...         ...       ...       ...       ...
92923  7.450940 -5.924000  1.284700 -1.052330
92924  3.052420 -3.118870 -1.850950  0.819319
92925 -5.316920 -1.936490  0.732177 -3.516200
92926 -2.787120 -3.595840  3.230730 -2.788210
92927  7.023380 -3.425420  1.810730 -5.125110

[92928 rows x 4 columns]

In [7]:
# broken
for x in range(0,10):
    globals()[f"b30hz{x}0"] = pd.read_csv(blist[x])
b30hz70

               a1        a2        a3        a4
0       -0.157490  1.526610  1.534550 -1.017460
1        1.160740  0.023445  1.704930 -3.502950
2        0.033562  0.045544 -0.431215 -5.582870
3        0.135058  0.525358  0.990718 -3.442710
4        1.760760  0.305720  2.149290  0.108471
...           ...       ...       ...       ...
100859   5.046250 -1.717610  7.045330 -5.088110
100860   5.567160  0.432670  7.447070  7.639570
100861   2.430430  8.730240 -1.011970  5.259150
100862  13.075100 -4.059200 -3.201500 -3.636590
100863  -0.752449 -4.895590 -1.552070  3.059030

[100864 rows x 4 columns]

In [8]:
## add load and fault to dataset
# healthy
for x in range(0,10):
    globals()[f"h30hz{x}0"]['load']=10*x*np.ones((len(globals()[f"h30hz{x}0"].index),1))
    globals()[f"h30hz{x}0"]['fault']=np.zeros((len(globals()[f"h30hz{x}0"].index),1))

In [9]:
# broken
for x in range(0,10):
    globals()[f"b30hz{x}0"]['load']=10*x*np.ones((len(globals()[f"b30hz{x}0"].index),1))
    globals()[f"b30hz{x}0"]['fault']=np.ones((len(globals()[f"b30hz{x}0"].index),1))
b30hz00

             a1        a2        a3        a4  load  fault
0      2.350390  1.454870 -1.667080 -2.055610   0.0    1.0
1      2.452970  1.400100 -2.825100  0.984487   0.0    1.0
2     -0.241284 -0.267390  0.793540  0.605862   0.0    1.0
3      1.130270 -0.890918  0.696969  0.613068   0.0    1.0
4     -1.296140  0.980479 -1.130560 -0.346971   0.0    1.0
...         ...       ...       ...       ...   ...    ...
88315  1.658100 -6.309490  0.821900 -3.357700   0.0    1.0
88316  2.253370 -3.105760  2.791110 -3.016840   0.0    1.0
88317  2.625840  3.814600  1.330690 -0.759645   0.0    1.0
88318  5.358220  6.105210 -1.367490  0.891057   0.0    1.0
88319  4.050180  1.962860  2.880230  2.254370   0.0    1.0

[88320 rows x 6 columns]

In [10]:
# Combine data
# Healthy 
healthy_DF = []
healthy_df = pd.DataFrame(healthy_DF)
for x in range(0,10):
    healthy_df =  pd.concat([healthy_df,globals()[f"h30hz{x}0"]],axis=0,ignore_index=True)
healthy_df

                a1        a2        a3        a4  load  fault
0         4.636710  0.516978 -3.205940   1.82241   0.0    0.0
1         1.992800  4.184660 -2.740610   2.80436   0.0    0.0
2        -3.764110  0.997335 -1.303090   1.83668   0.0    0.0
3        -4.558710  6.104330 -1.720690   1.72311   0.0    0.0
4         0.575382  0.170980 -0.497967  -1.32895   0.0    0.0
...            ...       ...       ...       ...   ...    ...
1015803   0.677448 -3.234410 -1.725990  -3.14302  90.0    0.0
1015804 -10.575400  7.725400 -2.184010   2.56965  90.0    0.0
1015805  -4.033290  2.576920  1.468430   2.72891  90.0    0.0
1015806   1.868670 -5.089400  5.342290  -1.36563  90.0    0.0
1015807   7.581480  6.205960 -6.121330  11.54830  90.0    0.0

[1015808 rows x 6 columns]

In [11]:
# Broken 
broken_DF = []
broken_df = pd.DataFrame(broken_DF)
for x in range(0,10):
    broken_df =  pd.concat([broken_df,globals()[f"b30hz{x}0"]],axis=0,ignore_index=True)
broken_df

               a1        a2        a3        a4  load  fault
0        2.350390  1.454870 -1.667080 -2.055610   0.0    1.0
1        2.452970  1.400100 -2.825100  0.984487   0.0    1.0
2       -0.241284 -0.267390  0.793540  0.605862   0.0    1.0
3        1.130270 -0.890918  0.696969  0.613068   0.0    1.0
4       -1.296140  0.980479 -1.130560 -0.346971   0.0    1.0
...           ...       ...       ...       ...   ...    ...
1005306  4.434170 -2.037930 -0.546417  1.181320  90.0    1.0
1005307  2.903320 -2.820350 -2.486930  0.115640  90.0    1.0
1005308 -1.617990  1.278610 -6.159510 -1.376230  90.0    1.0
1005309 -2.011220 -4.029450 -0.082050  0.932847  90.0    1.0
1005310 -4.437360 -1.970410  3.074570 -3.557610  90.0    1.0

[1005311 rows x 6 columns]

In [12]:
## Combine healthy and broken data
broken_health   = pd.concat([healthy_df,broken_df], axis =0)
broken_health

               a1        a2        a3        a4  load  fault
0        4.636710  0.516978 -3.205940  1.822410   0.0    0.0
1        1.992800  4.184660 -2.740610  2.804360   0.0    0.0
2       -3.764110  0.997335 -1.303090  1.836680   0.0    0.0
3       -4.558710  6.104330 -1.720690  1.723110   0.0    0.0
4        0.575382  0.170980 -0.497967 -1.328950   0.0    0.0
...           ...       ...       ...       ...   ...    ...
1005306  4.434170 -2.037930 -0.546417  1.181320  90.0    1.0
1005307  2.903320 -2.820350 -2.486930  0.115640  90.0    1.0
1005308 -1.617990  1.278610 -6.159510 -1.376230  90.0    1.0
1005309 -2.011220 -4.029450 -0.082050  0.932847  90.0    1.0
1005310 -4.437360 -1.970410  3.074570 -3.557610  90.0    1.0

[2021119 rows x 6 columns]

In [13]:
broken_health.sample(3, random_state=42)

             a1        a2        a3       a4  load  fault
567789  2.24030 -0.033332 -3.621630 -3.72461  50.0    1.0
181267  2.35699  0.125734  0.324272 -1.21394  10.0    1.0
17675   2.87033  0.755489  1.448250 -1.49890   0.0    0.0

In [14]:
# save data as csv file
broken_health.to_csv('/Users/amrmoursi/Desktop/gears/broken_health.csv', index=False)

In [16]:
df_gear=pd.read_csv('/Users/amrmoursi/Desktop/gears/broken_health.csv')

In [17]:
df_gear

               a1        a2        a3        a4  load  fault
0        4.636710  0.516978 -3.205940  1.822410   0.0    0.0
1        1.992800  4.184660 -2.740610  2.804360   0.0    0.0
2       -3.764110  0.997335 -1.303090  1.836680   0.0    0.0
3       -4.558710  6.104330 -1.720690  1.723110   0.0    0.0
4        0.575382  0.170980 -0.497967 -1.328950   0.0    0.0
...           ...       ...       ...       ...   ...    ...
2021114  4.434170 -2.037930 -0.546417  1.181320  90.0    1.0
2021115  2.903320 -2.820350 -2.486930  0.115640  90.0    1.0
2021116 -1.617990  1.278610 -6.159510 -1.376230  90.0    1.0
2021117 -2.011220 -4.029450 -0.082050  0.932847  90.0    1.0
2021118 -4.437360 -1.970410  3.074570 -3.557610  90.0    1.0

[2021119 rows x 6 columns]

In [18]:
df_gear.index

RangeIndex(start=0, stop=2021119, step=1)